<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
    .jumbotron{
      padding-left: 40px;
      text-align: center;
    }
    </style>
  </head>
  <body>
    <div class="jumbotron">
      <h1>Submission successful</h1>
      <p>Your job has been successfuly submitted, a mail will be sent once the task is complete,
      message: {prasanna.app_engine.elho() and prasanna.app_engine.async_job()}</p>
      <p>Log: (This is the usual behaviour, if any problems please report)</p>
      <p>1. Connecting to server @ herokuapp.com</p>
      <p>2. Node placement done at prasanna.ThreadPool.async_taskPlace()</p>
      <p>3. Running TTS engine on worker node</p>
      <p>4. Processing ..................</p>
      <p> Worker placement successful, you can tap on this button after 2-3 minutes, or you can use the link provided by email</p>
      <p>Keep this tab open in browser</p>
      <form action="http://speech-net.herokuapp.com/job_cache" method="get">
        <button type='submit' class='btn btn-lg btn-default '>Download file</button>

      </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
